# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# private
session.*
eshell/history
url/cookies*
/url/#cookies#
image-dired/*
/ido.last
/network-security.data
url/
elpa/archives/

elpa/archives/gnu/
elpa/archives/marmalade/
elpa/archives/melpa/
elpa/archives/org/
elpa/archives/
elpa/archives/gnu/archive-contents
elpa/archives/gnu/archive-contents.signed
elpa/archives/marmalade/archive-contents.signed
elpa/archives/melpa/archive-contents.signed
elpa/archives/org/archive-contents
elpa/archives/melpa/archive-contents
elpa/archives/marmalade/archive-contents
elpa/archives
elpa/archives/
elpa/archives/*
/history
elpa/archives/gnu/archive-contents
elpa/archives/gnu/archive-contents.signed
elpa/archives/marmalade/archive-contents
elpa/archives/org/archive-contents
elpa/archives/
games
elpa
elpa/archives/gnu
