/auto-save-list/.saves-11320-jsmill~
/#README.org#
/.#README.org
/README.org~
/auto-save-list/.saves-11632-jsmill~
/auto-save-list/
/elpa/archives/gnu/*~
/elpa/magit-1.0.0/*~
/session.*
/eshell/history
