/auto-save-list/.saves-11320-jsmill~
/#README.org#
/.#README.org
/README.org~
/auto-save-list/.saves-11632-jsmill~
/auto-save-list/
/elpa/archives/gnu/*~
/elpa/magit-1.0.0/*~
/session.*
/eshell/history
/*~
/elpa/archives/marmalade/archive-contents~
/elpa/color-theme-6.6.1/color-theme-autoloads.el~
/elpa/solarized-theme-0.2/README.md
